<ngx-loading-bar [includeSpinner]="false" [color]="'#000000'"></ngx-loading-bar>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">News Feed</a>
      <form  class="d-flex" role="search">
        <input class="form-control me-2" type="search" ngModel name="filterText" [(ngModel)]="filterText" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" (click)="getCategory()" >Search</button>
      </form>
      <!-- <form [formGroup]="searchForm" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="" formControlName="search" placeholder="Search" aria-label="Search" routerLink="search">
        <-- <button class="btn btn-outline-dark" type="submit">Search</button> --
      </form> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " aria-current="page" routerLink="">Home</a>
          <a class="nav-link" routerLink="business" >Business News</a>
          <a class="nav-link" routerLink="tech" >Tech news</a>
          <a class="nav-link" routerLink="sports" >Sports news</a>
        </div>
      </div>
    </div>
  </nav>
<!-- <div class="row" >
    <div class="container-fluid">
      <h4>{{filterText}} News</h4>
      <div *ngFor="let headline of searchList |search:filterText" class="col-lg-3 mb-3">
        <div class="box">
            <img src="{{headline.urlToImage}} " width="100%">
            <h5 class="mt-2 mb-2">{{headline.title}}</h5>
            <button class="btn btn-dark btn-sm mx-2" (click)="save(headline.description, headline.url)">Read later</button>
        </div>
      </div>
    </div>
</div> -->



<div  *ngIf="searchList.length!=0">
  <div class="container-fluid mt-5">
    <h4>{{filterText}}</h4>
    <div class="row">
        <div *ngFor="let headline of  searchList" class="col-lg-3 mb-3">
            <div class="box">
                <img src="{{headline.urlToImage}} " width="100%">
                <h5 class="mt-2 mb-2">{{headline.title}}</h5>
                <button class="btn btn-dark btn-sm mx-2" (click)="save(headline.description, headline.url)" >Read later</button>
                <!-- <a href="headline.url" class="btn btn-primary btn-sm mx-4" target="_blank"> Read more</a> -->
            </div>
            

        </div>
    </div>
</div>
</div>
    
<router-outlet></router-outlet>

<footer class="mt-3">
    <p class="text-center">&copy; 2022 News Manager</p>
</footer>
